table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.animal-list {
    background-color: rgb(113, 19, 19);
    color: white;
    width: 350px;
    padding: 10px;
}